<!DOCTYPE HTML>
<html lang="zh-CN">
	<head>
		<title>百度天气</title>
		<link rel="stylesheet" type="text/css" href="../static/css/min.css">
	</head>
	<body>
		<div id="s_top" class="s-top"></div>
		<div id="s_main" class="s-main">
			<div id="left_hand" class="left-hand"><a></a></div>
			<div id="right_hand" class="right-hand"><a></a></div>
			<div id="s_content" class="s-content"></div>
		</div>
		<div id="s_nav" class="s-nav">
			<ul>
				<li  data-id="0" class="weather"><a><span></span><em>天气</em></a></li>
				<li  data-id="1" class="PM25"><a><span></span><em>时钟</em></a></li>
				<li  data-id="2" class="backgroundset"><a><span></span><em>背景设置</em></a></li>
				<li  data-id="3" class="about"><a><span></span><em>关于</em></a></li>
				<li  data-id="4" class="close"><a><span></span><em>收起</em></a></li>
			</ul>
		</div>
    	<script src="../static/js/min_up.js"></script>
	</body>
</html>